<template lang="pug">
h1 Event List
EventCard(v-for='item in 30', :key='item.id')
</template>

<script>
// @ is an alias to /src
import EventCard from "@/components/EventCard";
export default {
  name: "EventList",
  components: {
    EventCard,
  },
};
</script>

<style lang="scss" scoped></style>
