<template lang="pug">
div
  button
    slot Enviar
</template>

<script>
export default {
  name: "BaseButton",
  props: {},
  data() {
    return {};
  },
  created() {},
  methods: {},
};
</script>

<style lang="scss" scoped></style>
