<template lang="pug">
div
  h4
    slot(name='title') Esto es cualquier cosa
  p
    slot(name='paragraph') Esto es cualquier cosa p
  .text-center
    slot(name='content') Esto es cualquier cosa content
</template>

<script>
export default {
  name: 'BaseMedia',
  props: {},
  data() {
    return {}
  },
  created() {},
  methods: {},
}
</script>

<style lang="scss" scoped></style>
