<template lang="pug">
.icon-wrapper
  i.fa(:class='name', aria-hidden='true')
  slot
</template>

<script>
export default {
  name: "BaseIcon",
  props: {
    name: String,
  },
};
</script>

<style lang="scss" scoped>
.icon-wrapper {
  display: inline-flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  font-weight: 600;
  margin-right: 6px;
}
i.fa {
  padding-right: 8px;
}
</style>
