<template lang="pug">
.event-card.-shadow
  span.eyebrow @{{ event.time }} on {{ event.date }}
  h4.title {{ event.title }}
  BaseIcon(name='fa-user-circle-o') {{ event.attendees.length }} attending Enviar
  BaseMedia
    template(v-slot='title') Hola mundo
</template>

<script>
export default {
  name: "EventCard",
  props: {},
  data() {
    return {
      event: {
        id: 1,
        title: "Beach Cleanup",
        date: "Tue May 15 2018",
        time: "6:00",
        attendees: [
          { id: "abc123", name: "Adam Jahr" },
          { id: "def456", name: "Gregg Pollack" },
        ],
      },
    };
  },
  created() {},
  methods: {},
};
</script>

<style lang="scss" scoped>
.event-card {
  padding: 20px;
  margin-bottom: 24px;
  transition: all 0.2s linear;
  cursor: pointer;
}
.event-card:hover {
  transform: scale(1.01);
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 15px 0 rgba(0, 0, 0, 0.19);
}
.event-card > .title {
  margin: 0;
}

.event-link {
  color: black;
  text-decoration: none;
  font-weight: 100;
}
</style>
